<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terps Summer Camp</title>

</head>
<body>

<h1>Welcome to Terps Summer Camp</h1>

<h2>Applicant</h2>
<ul>
  <li>To apply, select <a href="/application">Application</a></li>
  <li>To review/update an application, select <a href="/review">Review Application</a></li>
</ul>
<hr>

<h2>Admin</h2>
<ul>
  <li>To select users based on GPA, select <a href="/selectByGPA">Select by GPA</a></li>
  <li>To remove all applications, select <a href="/removeAll">Remove All Applications</a></li>
</ul>
<hr>

</body>
</html>
