<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Page</title>
</head>
<body>

    <h1>Review Application</h1>
    <form action="/review" method="post">
      <fieldset>
        <label for="email"><b>Email Address:</b></label>
        <input type="email" id="email" name="email" required><br>
        <br>
      </fieldset>
      <br>
      <button type="reset">Reset</button>
      <button type="submit">Submit Request</button>
    </form>
    
    <hr>
    <a href="/">HOME</a>    

</body>
</html>
