<!-- selectByGPAResult.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select by GPA Results</title>
</head>
<body>

    <h1>Applicants with GPAs Greater than or Equal to <%= gpa %></h1>
    <% if (applicants && applicants.length > 0) { %>
        <table border='1'>
            <tr>
                <th>Name</th>
                <th>GPA</th>
            </tr>
            <% applicants.forEach(applicant => { %>
                <tr>
                    <td><%= applicant.name %></td>
                    <td><%= applicant.gpa %></td>
                </tr>
            <% }); %>
        </table>
    <% } else { %>
        <p>No applicants found with GPAs greater than or equal to the specified GPA</p>
    <% } %>
    
    <hr>
    <a href="/">HOME</a>

</body>
</html>
